# Ignore the natives #
natives

# Ignore the mods folder because of licensing issues (😘❤) #
mods
mods/

# Ignore Crashes #
crash-reports
crash-reports/

# Ignore Dumps #
dumps
dumps/

# Ignore Logs #
logs
*.log
logs/

# Ignore saves #
saves
saves/

# Ignores Backups #
backups
backups/

# Ignore Misc stuff #
emojiful/
fancymenu_setups/
not-enough-crashes/
patchouli_books/
screenshots/
shaderpacks/
skyblock_exports/
tconplanner/
DiscordIntegration-Data/
downloads/
usercache.json
usernamecache.json
local/
.mixin.out
.vscode/
.vscode/settings.json
biomeidfixer.temp
.local
.fmdata
fancymenu_data/last_world.fmdata
NewWorldBiomeIdFixer.json
minecraftinstance.json
NTC2-client.zip
NTC2-client-1.4.9.zip
Not Too Complicated2-1.5.0b-bisect-server.zip
lightspeed-cache