# Configuration file

Server {

    Deposits {
        # Size multiplier to be applied to all deposits. [range: 0.0 ~ 10.0, default: 1.0]
        S:globalSizeMultiplier=1.0

        # Spawn rate multiplier to be applied to all deposits. [range: 0.0 ~ 10.0, default: 1.0]
        S:globalSpawnRateMultiplier=1.0
    }

}


